<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ClassRunnerSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="63a780">  <td>24/03/04 14:03:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_5.executor()[pri:0, instance:TestPackage2.copy.Test_Case_5@6b695b06]">executor</td> 
  <td>main@1991278377</td>   <td></td> </tr>
<tr bgcolor="b9797b">  <td>24/03/04 14:03:52</td>   <td>-671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_4.executor()[pri:0, instance:TestPackage2.copy.Test_Case_4@4f32a3ad]">executor</td> 
  <td>main@1991278377</td>   <td></td> </tr>
<tr bgcolor="f981c6">  <td>24/03/04 14:03:43</td>   <td>-9323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_1.executor()[pri:0, instance:TestPackage2.copy.Test_Case_1@4a8355dd]">executor</td> 
  <td>main@1991278377</td>   <td></td> </tr>
<tr bgcolor="6d79fc">  <td>24/03/04 14:03:53</td>   <td>648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_6.executor()[pri:0, instance:TestPackage2.copy.Test_Case_6@4d1bf319]">executor</td> 
  <td>main@1991278377</td>   <td></td> </tr>
<tr bgcolor="b1e494">  <td>24/03/04 14:03:50</td>   <td>-2709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_2.executor()[pri:0, instance:TestPackage2.copy.Test_Case_2@65987993]">executor</td> 
  <td>main@1991278377</td>   <td></td> </tr>
<tr bgcolor="c5aad4">  <td>24/03/04 14:03:51</td>   <td>-1581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_3.executor()[pri:0, instance:TestPackage2.copy.Test_Case_3@71075444]">executor</td> 
  <td>main@1991278377</td>   <td></td> </tr>
</table>
