<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAnnotationExampleSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92827e">  <td>24/03/08 16:31:51</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Annotation_RestAsssured.testSetUp()[pri:0, instance:TestPackage.TestNG_Annotation_RestAsssured@4a003cbe]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@755210740</td>   <td></td> </tr>
<tr bgcolor="92827e">  <td>24/03/08 16:31:59</td>   <td>8108</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Annotation_RestAsssured.evidenceCreator()[pri:0, instance:TestPackage.TestNG_Annotation_RestAsssured@4a003cbe]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@755210740</td>   <td></td> </tr>
<tr bgcolor="92827e">  <td>24/03/08 16:31:53</td>   <td>2077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Annotation_RestAsssured.validator()[pri:0, instance:TestPackage.TestNG_Annotation_RestAsssured@4a003cbe]">validator</td> 
  <td>main@755210740</td>   <td></td> </tr>
<tr bgcolor="bffc77">  <td>24/03/08 16:32:02</td>   <td>11068</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_DifferentClass_RestAssured.evidenceCreator()[pri:0, instance:TestPackage.TestNG_DataProvider_DifferentClass_RestAssured@15a34df2]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@755210740</td>   <td></td> </tr>
<tr bgcolor="ceb371">  <td>24/03/08 16:32:00</td>   <td>9128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_SameClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.TestNG_DataProvider_SameClass_RestAssured@6e535154]">validator</td> 
  <td>main@755210740</td>   <td></td> </tr>
<tr bgcolor="bffc77">  <td>24/03/08 16:32:02</td>   <td>10560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.TestNG_DataProvider_DifferentClass_RestAssured@15a34df2]">validator</td> 
  <td>main@755210740</td>   <td></td> </tr>
<tr bgcolor="bffc77">  <td>24/03/08 16:32:02</td>   <td>10560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.TestNG_DataProvider_DifferentClass_RestAssured@15a34df2]">validator</td> 
  <td>main@755210740</td>   <td></td> </tr>
<tr bgcolor="ceb371">  <td>24/03/08 16:32:02</td>   <td>11070</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_SameClass_RestAssured.evidenceCreator()[pri:0, instance:TestPackage.TestNG_DataProvider_SameClass_RestAssured@6e535154]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@755210740</td>   <td></td> </tr>
<tr bgcolor="ceb371">  <td>24/03/08 16:32:00</td>   <td>9128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_SameClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.TestNG_DataProvider_SameClass_RestAssured@6e535154]">validator</td> 
  <td>main@755210740</td>   <td></td> </tr>
<tr bgcolor="ceb371">  <td>24/03/08 16:31:59</td>   <td>8264</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_SameClass_RestAssured.testSetUp()[pri:0, instance:TestPackage.TestNG_DataProvider_SameClass_RestAssured@6e535154]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@755210740</td>   <td></td> </tr>
<tr bgcolor="bffc77">  <td>24/03/08 16:31:59</td>   <td>8262</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_DifferentClass_RestAssured.testSetUp()[pri:0, instance:TestPackage.TestNG_DataProvider_DifferentClass_RestAssured@15a34df2]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@755210740</td>   <td></td> </tr>
</table>
