<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PutapiSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bb816e">  <td>24/03/01 06:40:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test_case_2.exceutor()[pri:0, instance:TestPackage.test_case_2@2767e23c]">exceutor</td> 
  <td>main@90567568</td>   <td></td> </tr>
<tr bgcolor="92827e">  <td>24/03/01 06:40:44</td>   <td>-6161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test_case_1.exceutor()[pri:0, instance:TestPackage.test_case_1@273444fe]">exceutor</td> 
  <td>main@90567568</td>   <td></td> </tr>
</table>
