<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ParallelRunnerSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92827e">  <td>24/03/04 14:09:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_1.executor()[pri:0, instance:TestPackage.Test_Case_1@451001e5]">executor</td> 
  <td>TestNG-tests-1@1367937032</td>   <td></td> </tr>
<tr bgcolor="e1f6c7">  <td>24/03/04 14:09:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_2.executor()[pri:0, instance:TestPackage.Test_Case_2@55cb6996]">executor</td> 
  <td>TestNG-tests-2@221111433</td>   <td></td> </tr>
<tr bgcolor="7da57d">  <td>24/03/04 14:09:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_3.executor()[pri:0, instance:TestPackage.Test_Case_3@194fad1]">executor</td> 
  <td>TestNG-tests-3@307829448</td>   <td></td> </tr>
<tr bgcolor="a67176">  <td>24/03/04 14:09:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_4.executor()[pri:0, instance:TestPackage.Test_Case_4@5b7a7f33]">executor</td> 
  <td>TestNG-tests-4@940857381</td>   <td></td> </tr>
<tr bgcolor="8d60ab">  <td>24/03/04 14:09:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_5.executor()[pri:0, instance:TestPackage.Test_Case_5@5e7cd6cc]">executor</td> 
  <td>TestNG-tests-5@459718907</td>   <td></td> </tr>
<tr bgcolor="ecda92">  <td>24/03/04 14:09:37</td>   <td>8325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_6.executor()[pri:0, instance:TestPackage.Test_Case_6@14fc5f04]">executor</td> 
  <td>TestNG-tests-2@221111433</td>   <td></td> </tr>
</table>
