<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e5f2b9">  <td>24/03/08 17:36:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_7.executor()[pri:0, instance:TestPackage.Test_Case_7@66982506]">executor</td> 
  <td>main@2103763750</td>   <td></td> </tr>
<tr bgcolor="6da9a5">  <td>24/03/08 17:35:42</td>   <td>-33774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_1.executor()[pri:0, instance:TestPackage.Test_Case_1@3f4faf53]">executor</td> 
  <td>main@2103763750</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>24/03/08 17:36:13</td>   <td>-3066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_5.executor()[pri:0, instance:TestPackage.Test_Case_5@536f2a7e]">executor</td> 
  <td>main@2103763750</td>   <td></td> </tr>
<tr bgcolor="71f9e9">  <td>24/03/08 17:36:14</td>   <td>-1286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_6.executor()[pri:0, instance:TestPackage.Test_Case_6@72bc6553]">executor</td> 
  <td>main@2103763750</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>24/03/08 17:36:09</td>   <td>-6655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_3.executor()[pri:0, instance:TestPackage.Test_Case_3@c430e6c]">executor</td> 
  <td>main@2103763750</td>   <td></td> </tr>
<tr bgcolor="6bcf94">  <td>24/03/08 17:36:11</td>   <td>-4518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_4.executor()[pri:0, instance:TestPackage.Test_Case_4@312aa7c]">executor</td> 
  <td>main@2103763750</td>   <td></td> </tr>
<tr bgcolor="faa6af">  <td>24/03/08 17:36:02</td>   <td>-14084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_2.executor()[pri:0, instance:TestPackage.Test_Case_2@4d0d9fe7]">executor</td> 
  <td>main@2103763750</td>   <td></td> </tr>
</table>
